.interaction-block {
  padding-top: 12px;
  max-width: 1000px;

  button {
    &:disabled {
      cursor: not-allowed;
    }
  }
}

.interaction-block--no-padding-top {
  padding-top: 0;
}

.ask-button {
  background: #55575e;
  color: rgba(255, 255, 255, var(--tw-text-opacity, 1));
  width: auto;
  min-width: 54px;
  height: 22px;
  padding: 0 8px;
  gap: 4px;
  font-size: 10px;
  line-height: 1;
  white-space: nowrap;
  border-radius: 24px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-right: 3px;

  &:not(:disabled):hover {
    background: var(--primary);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.ask-button--content {
  background: var(--primary);
  min-width: 58px;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;

  &:not(:disabled):hover {
    background: var(--primary);
    opacity: 0.92;
  }
}

.interaction-icon-btn {
  padding: 3px;
  border-radius: 4px;
  transition: background-color 0.2s ease;

  &:hover:not(:disabled) {
    background: #eaeaea;
  }
}
