.courseCatalogList {
  height: 100%;
  display: flex;
  padding: 0px 20px 10px 20px;
  flex-flow: column nowrap;
  box-sizing: border-box;
  position: relative;

  .titleRow {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--base-border, #e5e5e5);

    .titleArea {
      flex: 1 1 0;
      overflow: hidden;
    }

    .chapterCount {
      font-size: var(--font-size-5);
      color: var(--color-8);
    }
  }

  .listRow {
    margin-top: 12px;
  }

  .listRowWithoutHeader {
    margin-top: 0;
  }
}
